*{
	padding: 0;
	margin: 0;
	border: 0;
	font-family: sans-serif;
}
.contenedor{
	width: 90%;
	margin: auto;
}
header{
	height: 80px;
	padding: 10px 0;
	border-bottom: 1px solid red;
}
figure{
	width: 100px;
	float: left;
}
figure img{
	width: 80%;
}
nav{
	float: right;
}
nav li{
	display: inline;
	margin: 10px;
	position: relative;
	top: 30px; /*20px*/
}
a[href]{
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
nav li:first-child a{
	color: #796AD9;
}
nav li:last-child{
	margin-right: 0;
}
.banner{
	height: 350px;
	background-image: url('../img/banner-1.jpeg');
	background-size: cover; /*cubre toda la seccion*/ /*contain buaca que la imagen se adapte al contenedor*/
	background-repeat: no-repeat;
}